/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405D9D;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42AEEC;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control::-ms-input-placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=register.component.css.map */