<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../../../assets/images/login.png" alt="img-fluid">
            </div>
            <form class="login100-form validate-form" (submit)="onSubmitLogin()">
                <span class="login100-form-title font-weight-bold">
                  Bienvenido
              </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input id="email" class="input100" type="email" name="email" [(ngModel)]="email" placeholder="Correo Electrico">
                    <span class="focus-input100">
                  </span>
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input id="password" class="input100" type="password" name="password" [(ngModel)]="password" placeholder="Contraseña">
                    <span class="focus-input100">
                  </span>
                    <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn font-weight-bold" type="submit">
                      Login
                  </button>
                </div>
                <div class="container-login100-form-btn">
                    <!-- <button class="login100-form-btn font-weight-bold " (click)="Regresar()">
                  Regresar
                </button> -->
                </div>
                <div class="text-center p-t-12">
                    <span class="txt1">
                  </span>
                    <a class="txt2" href="#">
                    </a>
                </div>
                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                    </a>
                </div>
                <div class="text-center p-t-136">
                    <a class="txt2" routerLink="/register">
                  Create your Account
                  <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
                </div>
            </form>
        </div>
    </div>
</div>
