<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Publicacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="url" name="imagen" #imagen="ngModel" [(ngModel)]="publicacion.imagen" placeholder="Imagen" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea name="descripcion" rows="2" #descripcion="ngModel" [(ngModel)]="publicacion.descripcion" placeholder="Descripcion" class="form-control">
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!-- <button type="submit" class="btn btn-primary" (click)="GuardarPublicacionwithSpring()">Publicar</button> -->
                <button type="submit" class="btn btn-primary" (click)="GuardarPublicacionNode()">Publicar</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="input-file">
                        <input type="file" placeholder="file" (change)="OnFileChange()">
                    </div>
                     <img *ngIf="imagen" class="img-fluid img-thumbnail" src="{{imagen}}">
                    <textarea name="descripcion" rows="2" placeholder="Descripcion" class="form-control">
                    </textarea> -->
