// .input-file {
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     height: 0;
//     padding-bottom: 80%;
//     border-style: #f0f2f7;
//     background: gray;
//     background-image: url("../../../../assets/images/No-Image-Available.png");
// }
// .input-file [type=file] {
//     cursor: inherit;
//     display: block;
//     font-size: 999px;
//     filter: alpha(opacity=0);
//     min-height: 100%;
//     min-width: 50%;
//     opacity: 0;
//     position: absolute;
//     right: 0;
//     text-align: right;
//     top: 0;
//     cursor: pointer;
// }
