<div class="container mt-2">
    <div class="row">
        <div class="col-lg-4" *ngFor="let publicacion of publicaciones">
            <div class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
                    <!-- {{publicacion.descripcion}} -->
                    <!-- <button class="btn btn-danger" (click)="deleteSpring(publicacion.id)">
                      <i class="far fa-trash-alt"></i>
                    </button> -->
                    <button class="btn btn-danger" (click)="deleteNode(publicacion.id)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                </div>
                <img class="card-img-top" [src]="publicacion.imagen">
                <div class="card-body">
                    <p>{{publicacion.descripcion}}</p>
                    <a [routerLink]="['/publicacion', publicacion.id]" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModal">
                  Editar Publicacion
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
