<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="/principal" style="padding-left: 50px;">Mabegram</a>-->
    <a class="navbar-brand" routerLink="" style="padding-left: 50px;">Mabegram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/chat']" routerLinkActive="active">
                    <i class="far fa-comment"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active">
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- <form>
    <div class="custom-file mb-3" style="width: 50%; height: 50%; padding-left: 50px;">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
</form> -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modal</button> -->
<!-- <div class="mainContainer">
    <div class="content">
        <div class="row margin25">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text upload" id="btnUpload">Upload</span>
                    </div>
                    <div class="custom-file">
                        <form action="/api/upload" method="post" enctype="multipart/form-data">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        </form>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div> -->
<site-publicacion></site-publicacion>
<site-imagen></site-imagen>