<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="/principal" style="padding-left: 50px;">Mabegram</a>-->
    <a class="navbar-brand" routerLink="" style="padding-left: 50px;">Mabegram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/chat']" routerLinkActive="active">
                    <i class="far fa-comment"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active">
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="chat-messages">
    <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-list">
        </ul>
    </div>
    <div class="chat-messages-create-container">
        <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
        <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
</div> -->
<div class="container">
    <h3 class=" text-center"></h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Reciente</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Buscar">
                            <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://f1.pngfuel.com/png/990/709/264/woman-happy-avatar-user-profile-female-girl-silhouette-face-hair-png-clip-art.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Admin<span class="chat_date">Ahora</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div class="chat-messages-show-container">
                        <ul class="chat-messages-show-list" id="message-list">
                        </ul>
                    </div>
                    <!-- <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span></div>
                        </div> -->
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" [(ngModel)]="message" placeholder="Escriba el mensaje" />
                        <button class="msg_send_btn" type="button" (click)="SendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>